



.polygon{
    width: 700px;
    height: 630px;
    background: linear-gradient(rgba(0,0,0,.1),rgba(0,0,0,.1), rgba(0,0,0,.2) 100%);

    border-radius: 30px 30px 0 0;

    position: absolute;
    top: 97px;
    left: 50%;

    z-index: 20;

    transform: translate(-50%);
}


.polygon::before{
    content: '';
    width: 100%;
    height: 93%;
    background: #3d5a80;

    clip-path: polygon(42% 100%, 0 100%, 0 0);


    position: absolute;
    left: -1px;
    bottom: 0;
}

.polygon::after{
    content: '';
    width: 100%;
    height: 93%;
    background: #3d5a80;

    clip-path: polygon(100% 0, 57% 100%, 100% 100%);


    position: absolute;
    right: -1px;
    bottom: 0;
}




.tail-polygon{
    width: 120px;
    height: 120px;
    background: #3d5a80;

    position: absolute;
    left: 50%;
    bottom: 0;

    transform: translate(-50%);

}
  







.displayscroll{
    position: absolute;
    left: 50%;
    bottom:  0;

    transform: translate(-70%);
}

.displayscroll::-webkit-scrollbar{
    width: 0;
}

.container{
    width: 800px;
    background: #003049;
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;

    position: absolute;
    left: 50%;
    bottom: 7px;

    transform: translate(-50%);

    z-index: 100;

    

}

.container::-webkit-scrollbar{
    width: 0;
}






.shoes-display{
    display: flex;
}

.img-background{
    width: 70px;
    height: 70px;
    /* background-color: aquamarine; */
    border-radius: 50%;

    margin: 0 30px ;


}

.invisible{
    width: 25px;
    height: 30px;
}




